h1 a, h2 a {
    color: #4eb2af;
}

body {
 
    background: linear-gradient(to right, #ffffff, #c2e8ea, #b0e0e6);
}

h1 a, h2 a {
    color: #4eb2af;
    font-family: 'Lobster';
}

.page-header {
    background-color: #4eb2af;
    margin-top: 0;
    padding: 20px 20px 20px 40px;

}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    color: #757C82;
}

.post h2 a, .post h2 a:visited {
    color: #4eb2af;
}

.comment {
    margin: 20px 0px 20px 20px;
    color: #828282;

}

.ligne {
   
    border-top: 1px dashed #8c8b8b;
  
}

.home-image {

    border-radius: 50%;
    border: 1px solid #b5c2ff;
    border-width: 5px;
    width: 375px;
    height: 375px;
	}






.row-images {
	display: flex;
    flex-direction: row;
  	justify-content: space-around;
  	align-items: center;
}


.home-quote {
	width: 250px;
	text-align: justify;
	justify-content: center;
	margin: 50px;
	vertical-align: middle;
	transform: scale(2);
	font-family: Indie Flower, Latin;
	color: green;
}
